/**
 * @file
 * Layout styling
 */
body{
  margin:0;
  padding: 0;
  color: #363636;
  font-family: Arial,Tahoma,Verdana;
  font-size: 12px;
  background:url('../images/bg-not-front.gif') no-repeat center top #FFFFFF;
}

/**
 * pre-header
 */
#pre-header{
  background-color: #333333;
}

#pre-header .section{
  width: 940px;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
}

#pre-header .block.first{
  float: left;
  margin-left: 0px;
}

#pre-header .block{
  float: right;
  margin-left: 10px;
}

#pre-header .block.block-menu ul{
  margin: 5px 0px;
  padding: 0px;
}

#pre-header .block.block-menu ul li.first{
  padding-left: 0px;
}

#pre-header .block.block-menu ul li.last{
  border-right: 0px none #ffffff;
  padding-right: 0px;
}

#pre-header .block.block-menu ul li{
  list-style: none outside none;
  float: left;
  border-right: 1px solid #ffffff;
  padding: 0px 15px;
}

#pre-header .block.block-menu ul li a{
  line-height: 20px;
  vertical-align: center;
  color: #e5e5e5;
  text-decoration: none;
}

#pre-header .block.block-menu ul li a.active{
  color: #ffffff;
  text-decoration: none;
}

/**
 * header
 */
#header{
  margin-bottom:30px;
}

#header .section{
  width:940px;
  margin:0 auto;
  min-height: 125px;
}

#site-logo-and-name {
  float: left;
  width: 400px;
}

#site-logo-and-name  #logo {
  float:left;
}

#site-logo-and-name #name-and-slogan {
  float:left;
}

.logo-on-right #site-logo-and-name {
  float:right;
  overflow:hidden;
}

.logo-on-right #site-logo-and-name #logo {
  float:right;
}

.logo-on-right #site-logo-and-name {
  float:right;
}

.with-slogan #header .section{
  height:120px;
}

#name-and-slogan{
  margin-top:30px;
}

#site-name{
  margin:0;
  font-size:40px;
  font-weight:lighter;
  line-height:normal;
  float:left;
}

.logo-on-right #site-name {
  float:right;
}

#site-name a{
  color:#FFFFFF;
  text-decoration:none;
  font-family: Arial,Tahoma,Verdana;
}

#site-name a:hover {
  text-decoration:none;
}

#site-slogan{
  clear: both;
  color: #C0C0C0;
  font-size: 12px;
  font-style: italic;
  line-height: 5px;
  margin-left: 0;
}

.region-header {
  margin-left:300px;
  height:100px;
  line-height:100px;
  width:640px;
  z-index:99;
}


.logo-on-right .region-header {
  float:left;
  margin:0;
}

div.view-canoe-paddles .views-field.views-field-field-product-image,
div.view-kayak-paddles .views-field.views-field-field-product-image,
div.view-stand-up-paddles .views-field.views-field-field-product-image {
  float:left;
}

/**
 * Hightlight
 */
#highlight {
  width:800px;
  margin:0 auto;
  padding:20px 0;
}

#highlight h1,
#highlight h2 {
  border-color: #CCCCCC;
  border-style: dashed;
  border-width: 1px 0;
  font-family: Arial,Tahoma,Verdana;
  font-size: 22px;
  font-weight: normal;
  padding: 5px 0;
  text-align: center;
}

/**
 * Page wrapper
 */
#page-wrapper{
  width:940px;
  margin:0 auto;
  clear:both;
}

#main {
  padding:15px 0px;
}

#content{
  margin-bottom: 10px;
}

/**
 * Sidebar
 */

.with-sidebar-first #content {
  margin-left: 340px;
  width: 600px;
}

.with-sidebar-last #content {
  float:left;
  width:600px;
}

.with-sidebar-first.with-sidebar-last #content {
  float: left;
  width: 600px;
  margin-left: 20px;
}

.with-sidebar-first #sidebar-left{
  width: 200px;
  float: left;
}

.with-sidebar-last #sidebar-right{
  width: 260px;
  margin-left: 680px;
}

.with-sidebar-first.with-sidebar-last #sidebar-left{
  float: left;
  width: 150px;
}

.with-sidebar-first.with-sidebar-last #sidebar-right{
  margin-left: 790px;
  width: 150px;
}

/**
 * Footer
 */
#footer{
  /* background:url('../images/bg-pattern.gif') no-repeat center top #0B0D12; */
  clear:both;
}

#footer .section{
  width:940px;
  padding:30px 0;
  overflow:hidden;
  color: #5C5D5E;
  font-size:11px;
  margin:0 auto;
}

#footer .section .regions .section{
  float: left;
  width: 235px;
}

/**
 * maintenance-page
 */
.maintenance-page #site-logo-and-name {
    margin: 0 auto;
    text-align: center;
    width: auto;
    float:none;
}

.maintenance-page #content{
  border-color: #CCCCCC;
  border-style: dashed;
  border-width: 1px 0;
  font-family: Arial,Tahoma,Verdana;
  font-size: 22px;
  line-height: 30px;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

/**
 * User
 */
div.profile div.user-picture {
  float: left;
}
