/**
 * @file
 * HTML Element Styling
 */


/*
 * Fonts
 */
body {
  font : 11px/16px Arial,Helvetica,sans-serif
}

#skip-to-nav,
#page {
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/*
 * Block-level elements
 */
h1, h2, h3, h4, h5, h6
p, blockquote, pre,
ul, ol, dl,
hr, table, fieldset {
  margin: 1.5em 0;
}

/* Headings */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.75em 0;
  font-family: Arial,Tahoma,Verdana;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
  font-family: Arial,Tahoma,Verdana;
}

h3 {
  font-size: 1.3em;
  margin: 1.154em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.3 = 1.154 */
  font-family: Arial,Tahoma,Verdana;
}

h4,
h5,
h6 {
  font-size: 1.1em;
  margin: 1.364em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
  font-family: Arial,Tahoma,Verdana;
}

/* Other block-level elements */
p {
  margin:0 0 1em 0;
}

blockquote {
  background: url("../images/quotation.png") no-repeat scroll left top transparent;
  margin: 0 2em;
  padding: 15px 50px;
}

pre {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  margin: 1.364em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

hr {
  height: 1px;
  border: 1px solid #666;
}

address {
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
.item-list ul /* Drupal overrides */ {
  margin: 1.5em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dl#links-list dt { margin: 10px 0px 0px 0px; }
dl#links-list dd { margin: 0px 0px 0px 10px; }

dl {
  margin:0;
}

dt {
  margin: 0;
  padding: 0;
  font-weight:bold;
}

dd {
  margin: 0 0 10px;
  padding: 0;
}

/*
 * Tables
 */
table {
  border-collapse: collapse;
  width:100%;
}

th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}

thead {
}

tfoot {
}

caption {
}

colgroup {
}

col {
}

tr {
  background:none !important;
}

td {
}

table#dealers-table tbody tr td {
  border: 1px solid black;
  padding: 5px;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0.5em;
}

legend {
}

label {
}

input {
}

select {
}

optgroup {
}

option {
}

textarea {
}

button {
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
  /* text-decoration:underline; */
  /* color:#0090c6; */
}

a:visited {
  /* color:#0090c6; */
}

a:hover,
a:focus {
  /* text-decoration:underline; */
}

a:active {

}

/*
 * Other inline elements
 */
img {
  border: 0;
}

div.field-name-field-product-image {
  float: right;
}

/*
 * div.field-name-field-product-image img {
 *   height: 400px;
 *   width: 254px;
 * }
 */

div#first-time {
  display: none;
}

abbr, /* Abbreviations */
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

q {
}

cite {
}

strong, b {
}

em, i {
}

code,
kbd,
samp,
tt,
var /* Code, keyboard input, sample output, teletype, variable */ {
}

del {
}

ins {
}

big {
}

small {
}

sub {
}

sup {
}
